body {
  margin: 0px;
  font-family: 'Bebas Neue', cursive;
  background-color: #0E0E13;
  min-height: 100vh;
  z-index: -50;
}

button {
  font-family: 'Bebas Neue', cursive;
  outline: none;
}

p, ul, blockquote {
  font-family: 'Montserrat', sans-serif;
}

blockquote {
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}